<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Simon's Petitions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Welcome to Simon's Petitions</h1>
    <nav class="nav-buttons">
        <a th:href="@{/petitions}" class="button">View All Petitions</a>
        <a th:href="@{/petition/new}" class="button">Create New Petition</a>
        <a th:href="@{/search}" class="button">Search Petitions</a>
    </nav>
</div>
</body>
</html>