<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Petitions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Search Petitions</h1>

<form th:action="@{/search}" method="post">
    <div>
        <label for="query">Search Term:</label>
        <input type="text" id="query" name="query" required
               placeholder="Enter keywords to search...">
    </div>
    <button type="submit">Search</button>
</form>

<a th:href="@{/}">Back to Home</a>
</body>
</html>